@import url(header_logo.css);
@import url(header_search.css);

#header{
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: #111111;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 32px;
  padding-right: 32px;

  position: fixed;

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}


#header::after { 
  /* 솔직히 이건 몰라서 검색해서 함 */
  /* 가상 요소로 그라데이션 효과 */
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px; /* 헤더 바로 아래에 위치 */
  width: 100%;
  height: 8px; /* 그라데이션 높이 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), transparent);
}